@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(120deg,  #ffe53bd8 , red);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:center ;
}

.Relogio{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    width: 500px;
    background: transparent;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.5);
}

.Relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(5, 5, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .7);
    border-radius: 7px;
    margin: 10px;
}

.Relogio span{
    font-weight: bolder;
    font-size: 60px;
}

.Relogio span#tempo{
    font-size: 10px;
}